{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burgerMenuAction()">
                <img class="img-header" src="{% static './photo/Frame (1).svg' %}" alt="Menu">
            </button>
        </div>
        
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="{% url 'home_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/home.svg' %}" alt="">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'jobs_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/jobs.svg' %}" alt="">
                        <span>Афиши</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'categories_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/categories.svg'%}" alt="">
                        <span>Категории</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'guides_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/guides.svg' %}" alt="">
                        <span>Прошлые Афишы</span>
                    </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="menu-list__item">
                    <a href="{% url 'sign_up_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/signup.svg' %}" alt="">
                        <span>Регестрация</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'login_page' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/login.svg' %}" alt="">
                        <span>Вход</span>
                    </a>
                </li>
                {% else %}
                <li class="menu-list__item">
                    <a href="{% url 'logout_action' %}" class="menu-list__link">
                        <img src="{% static 'photo/menu-photo/logout.svg' %}" alt="">
                        <span>{{ user.username }} : Выход</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static './js/script.js' %}"></script>
</body>
</html>